.card {
  position: relative;
  width: 100%;
  height: 100%;
}
.card,
.wrap {
  perspective: 350px;
}

.wrap {
  transition: 1.5s;
  transform-style: preserve-3d;
}

.card:hover .wrap {
  transform: rotateY(180deg);
}

.back,
.front {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.frontImg {
  width: 100%;
  border-radius: 8px;
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  padding: 5%;
  padding-bottom: 24%;
  background-color: rgba(233, 222, 201, 0.61);
  transform: rotateY(180deg);
  box-sizing: border-box;
}

.backWrap {
  width: 100%;
  height: 100%;
  background-color: white;
  overflow-y: scroll;
}
.backImg {
  width: 100%;
}
