.review {
  margin-top: 80px;
  padding: 0 3.5%;
  position: relative;
}
.logoutButton {
  position: absolute;
  top: 0;
  right: 3.5%;
  width: 50px;

  border-style: none;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  line-height: 40px;
  cursor: pointer;
  background-color: #eebb4d;
  color: white;
  font-weight: bold;
  font-size: 10px;
  padding: 0;
}
.title {
  margin: 0;
}
.list {
  padding: 0;
}
.loading {
  width: 1em;
  height: 1em;
  border: 2px solid grey;
  border-radius: 50%;
  border-top: 2px solid lightgrey;
  margin: 0 auto;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(369deg);
  }
}
@media screen and (max-width: 768px) {
  .title {
    font-size: 1.6em;
  }
}
@media screen and (max-width: 425px) {
  .review {
    margin-top: 20px;
  }
}
