.itemWrap {
  display: inline;
}
.item {
  position: relative;
  display: inline-block;
  width: 25%;
  padding: 0 5px;
  box-sizing: border-box;
}
.posterWrap {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 145%;
}
.item:hover .reviewimgWrap {
  display: block;
}
.poster {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.reviewimgWrap {
  display: none;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* padding-bottom: 145%; */
}
.photoCard {
  width: 100%;
  height: 100%;
  background-color: wheat;
  position: relative;
  border-radius: 10px;
}
.reviewImg {
  position: absolute;
  top: 7%;
  left: 5%;
  width: 90%;
}
.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  margin-top: 5px;
  color: rgb(97, 93, 93);
  font-size: 16px;
}
.myRate {
  margin: 0;
  margin-bottom: 5px;
  color: black;
  font-size: 12px;
}
