.detail {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.background_div {
  position: relative;
  width: 100%;

  height: 100%;
  padding: 300px 0px 0px;
}
.backgroundimage {
  /* width: 100%;
  height: 100%;
  padding-top: 300px;
  display: flex;
  justify-content: center; */
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-box-pack: center;
  justify-content: center;
  background: black;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.bg {
  position: relative;
  top: auto;
  left: auto;
  width: 825px;
  height: 100%;
  filter: none;
}
.backgroundDimmed {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: linear-gradient(
    -180deg,
    rgba(0, 0, 0, 0.35) 2%,
    rgba(0, 0, 0, 0.2) 70%,
    rgba(0, 0, 0, 0.5) 100%
  );
}
.posterPartWrap {
  width: 700px;
  padding-bottom: 20px;
}
.poster_title {
  width: 100%;
  padding: 0 0 30px 200px;
  position: relative;
  box-sizing: border-box;
}
.poster_div {
  position: absolute;
  top: -50px;
  left: 0px;
  width: 153px;
  height: 221px;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.poster_image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.title {
  margin: 0;
  margin-top: 32px;
}
p {
  margin: 10px 0;
}
.movie_detail {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 10px 0;
}
.reviewButton {
  border-style: none;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 40px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #96bb7c;
  color: #f5f1da;
}
.reviewButton:hover {
  background-color: #eebb4d;
  color: #f5f1da;
}
.representativeWrap {
  background-color: #e3dfc89c;
  width: 100%;
  padding: 20px 0;
}
.representative {
  align-items: initial;
  max-width: 700px;
  margin: 0 auto;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.description {
  padding: 20px;
}
.basicInfo {
  border-bottom: 1px solid lightgray;
}
.movieInfoTitle {
  margin: 0;
}
.overviewOpen {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.overviewClose {
  display: block;
}
.overviewReadmore {
  text-align: center;
  cursor: pointer;
  padding-bottom: 10px;
  font-weight: bold;
}
.actors {
  width: 100%;
}
.actorsList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  margin: 4px -5px 16px;

  overflow-y: hidden;
  height: 240px;
}
