.main {
  margin-top: 80px;
}
.movie_chart {
  margin: 0 3.5%;
}
.title {
  padding: 0 5px;
  margin: 0;
}
.list {
  padding: 0;
}
@media screen and (max-width: 425px) {
  .main {
    margin: 20px 0 80px 0;
  }
}
