.item {
  position: relative;
  display: inline-block;
  width: 20%;
  padding: 0 5px;
  box-sizing: border-box;
}
.rank {
  position: absolute;
  width: 2em;
  height: 2em;
  background-color: rgba(0, 0, 0, 0.77);
  text-align: center;
  line-height: 2em;
  border-radius: 4px;
  left: 11px;
  top: 6px;
  color: white;
  font-weight: bold;
}
.imagestandard {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 145%;
}
.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  margin-top: 5px;
  color: black;
  font-size: 16px;
}
.release_date {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  margin-bottom: 5px;
  color: black;
  font-size: 12px;
}
@media screen and (max-width: 768px) {
  .item {
    width: 25%;
  }
  .rank {
    width: 1.6em;
    height: 1.6em;
    line-height: 1.6em;
  }
}
@media screen and (max-width: 425px) {
  .item {
    width: 33%;
  }
  .rank {
  }
}
