.header {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 3.5%;
  background-color: white;
}
.list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}
.list_logo {
  height: 80px;
}
.logo {
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
}
.list_searchbar {
  margin: 0 0 0 auto;
}
.searchbar {
  padding-right: 30px;
}
.loginButton {
  height: 40px;
  cursor: pointer;
}
.loginCase {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.myPageButton {
  width: 30px;
  height: 30px;
  border-style: none;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  line-height: 40px;
  cursor: pointer;
  background: url(/images/profile.png) center center;
  background-size: 90%;
  padding: 0;
}
.myPageTitle {
  font-size: 6px;
}
.reviewButton {
  cursor: pointer;
}
